{% extends 'base.html' %}

{% block title %}
    {% if data.title %}
        <title>{{ data.title }}</title>
    {% endif %}
{% endblock title %}

{% block content %}
    <h1>{{ data.greeting }}!</h1>

    <h2>Looping over data:</h2>
    <table class="table">
        <td>Key</td>
        <td>Value</td>
        {% for key, value in data.items() %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}